/* styles.css */
body{
    background-color: #a0aecd;

    color: black;

/*    About me section */
}
.profile-picture {
    float: left;
    margin-right: 1em;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Drop shadow */
}

/* Photography Section */
#photography {
    margin-top: 2em;
}

.photo-gallery {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.gallery-photo {
    width: calc(33% - 1em);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.gallery-photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.tabs {
    overflow: hidden;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}